@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../fonts/Roboto_Mono/RobotoMono-Light.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./nprogress.scss";

html.light {
  @import "~prismjs/themes/prism";
}

html.dark {
  @import "~prismjs/themes/prism-dark";
}

// TODO: TextArea と合わせてリファクタする

.textarea {
  * {
    word-break: break-all !important;
    font-family: "Roboto Mono";
  }
}

.with-placeholder {
  position: relative;
  &::before {
    color: #9ea3ae;
    content: attr(data-placeholder);
    height: 0px;
    left: 0px;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    white-space: pre-wrap;
  }
}
